.account-page {
  padding: 20px;
}

.admin-dashboard {
  margin-bottom: 20px;
}

.account-heading {
  font-size: 40px;
  margin-bottom: 20px;
}

.account-details p {
  margin-bottom: 10px;
  font-size: 20px;
}

.account-details span {
  font-weight: bold;
}

.order-history h1,
.my-reviews h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.order,
.review {
  /* border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px; */
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.order-id span,
.order-status span,
.product-quantity span,
.order-price span,
.review-rating span,
.review-date span {
  font-weight: bold;
  margin-right: 10px;
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  width: 100px;
  text-align: right;
  padding-right: 10px;
  padding-left: 10px;

  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review-product {
  font-size: 40px;
}

.review-message {
  font-size: 20px;
}
.no-orders,
.no-reviews {
  margin-top: 10px;
  color: #888;
}

.logout-button {
  margin-top: 20px;
}
