.account-page {
  padding: 20px;
  margin-bottom: 20px;
  width: 70%;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 10px #ccc;
}

.admin-dashboard {
  margin-bottom: 20px;
}

.account-heading {
  font-size: 40px;
  margin-bottom: 20px;
}

.account-details p {
  margin-bottom: 10px;
  font-size: 20px;
}

.account-details span {
  font-weight: bold;
}

.order-history {
  width: 70%;
}

.order-history h1,
.my-reviews h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.order,
.review {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  background-color: #fff;
}

.order-id span,
.order-status span,
.product-quantity span,
.order-price span,
.review-rating span,
.review-date span {
  font-weight: bold;
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
}

.review-product {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.review-message {
  font-size: 20px;
  margin-top: 10px;
}

.no-orders,
.no-reviews {
  margin-top: 10px;
  color: #888;
}

.logout-button {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  list-style-type: none;
  color: black;
  text-align: center;
}
