#checkout-table {
  margin-left: 20px;
}

.grid {
  display: grid;
  color: #444;
  height: 50px;
}

.grid > div {
  background-color: #fff;
  outline: 1px solid black;
}

.grid > div,
.grid > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-head {
  grid-template-columns: 70px 300px 140px 140px 140px;
  font-size: 20px;
  font-weight: bold;
}

.checkout-body {
  grid-template-columns: 70px 300px 140px 140px 140px 50px;
  font-size: 20px;
}
.checkout-total {
  grid-template-columns: 70px 300px 140px 140px 140px 50px;
  font-size: 20px;
  font-weight: bold;
}

.delete-cart-button {
  background-color: red;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 10px;
  border-radius: 10px;
}

.delete-cart-button:hover {
  cursor: pointer;
}
