#home-page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome {
  width: 100%;
}

#featured-header {
  font-family: "daggersquare";
  font-size: 32px;
  color: #3c1053;
  text-shadow: 2px 2px 5px #f1eedb;
  margin: 15px;
}

.home-cards-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  justify-content: center;
}

.home-cards-container > .product-card {
  flex: 1 0 250px;
  display: flex;
  flex-direction: column;
}

.product-image {
  width: 100%;
  flex-grow: 1;
  object-fit: scale-down;
}

.tigersden-banner {
  width: 100vw;
  height: 100%;
  position: relative;
}

.tigersden-banner > img {
  width: 100vw;
  height: 100%;
}

.tigersden-banner > div {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
}

.tigersden-banner span {
  border: 3px solid white;
  color: white;
  cursor: pointer;
  font-family: Archivo Narrow, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 5px #8c57f3;
  text-shadow: 3px 3px 5px #8c57f3;
}

.tigersden-banner span:hover {
  border: 3px solid #fdd023;
  color: #fdd023;
}
