/* Site Wide Universal Styles */

/*Alternate Font*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Tiger's Den Font*/
@font-face {
  font-family: "daggersquare";
  src: url("../assets/fonts/daggersquare-webfont.woff2") format("woff2"),
    url("../assets/fonts/daggersquare-webfont.woff") format("woff");
  font-weight: normal;
}

#website-colors {
  /* WOfficial LSU Colors from:
  https://itservice.lsu.edu/TDClient/51/OCUR/KB/ArticleDet?ID=430; */

  /* Primary Colors */
  color: #461d7c; /*Offical LSU Purple*/
  color: #fdd023; /*Official LSU Gold*/

  /* Tonal Palette */
  color: #3c1053; /*Corporate Purple*/
  color: #a39aac; /*Light Purple*/
  color: #d29f13; /*Corporate Gold*/
  color: #f1eedb; /*Light Gold*/

  /* Neutral Palette */
  color: #d0d0ce; /*Light Gray*/
  color: #999999; /* 50% Gray*/
  color: #333333; /* Process Black */
  color: #8c734a; /*LSU Metallic Gold*/
}

#root {
  display: flex;
  flex-direction: column;
  /* Making our root div 100vh so that we can use flex to make children (mainly the body) take up all available verticle space */
  height: 100vh;
}

#header-container {
  background-color: #3c1053;
  color: #d0d0ce; /*Light Gray*/
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

#header-container > div,
#header-container > img {
  min-width: 230px;
}

#header-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#logo-graphic {
  height: 175px;
  margin-top: 10px;
}
#header-logo {
  color: #d0d0ce;
  font-family: "daggersquare";
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
}
#cart-icon {
  color: #d29f13;
  font-size: 35px;
}
#account-icon {
  color: #d29f13;
  font-size: 35px;
}
#nav-container {
  background-color: #d29f13;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 50px;
  /* align-items: center; */
  font-family: "daggersquare";
  font-weight: bold;
  color: #d0d0ce;
  text-decoration: none;
  list-style-type: none;
  display: flex;
}

.non-user-nav {
  color: #d0d0ce;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
}
.user-nav {
  color: #d0d0ce;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
}

.non-user-nav > a,
.user-nav > a {
  min-width: 270px;
  text-align: center;
}

.nav-link1 {
  color: #d0d0ce;
  font-size: 70px;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav-link2 {
  color: #d0d0ce;
  font-size: 70px;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#nav-menu {
  color: #3c1053;
}
#menu-button {
  color: #3c1053;
}
#main {
  /* Using flex grow to make main body section take up all available vertical space (but not more than that) */
  flex: 1 0 0;
  background-color: #d0d0ce;
  overflow: auto;
  display: flex;
  justify-content: center;
}
#welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
}

.back-btn {
  border: none;
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 150px;
  height: 40px;
  font-size: 18px;
  margin-top: 20px;
}

.review-btn {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #3c1053;
  text-align: center;
  cursor: pointer;
  width: 150px;
  height: 70px;
  font-size: 18px;
  margin-top: 20px;
}
.review-btn:hover {
  transform: scale(1.1);
}
.review-btn:active {
  transform: scale(0.9);
}
.review-btn:focus {
  transform: scale(1.1);
}

#error {
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5;
  text-decoration: none;
  list-style-type: none;
  color: #d29f13;
  font-weight: 900;
  background-color: #d0d0ce;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
.error-text {
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5;
  text-decoration: none;
  list-style-type: none;
  color: #3c1053;
}
.error-message {
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5;
  text-decoration: none;
  list-style-type: none;
  color: #3c1053;
}
.back-link {
  text-decoration: none;
  list-style-type: none;
  color: #3c1053;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.email-input {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #3c1053;
  background-color: white;
  padding: 25px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}
#headline {
  font-size: 40px;
  color: #3c1053;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "daggersquare";
}
.log-in {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  width: 150px;
  height: 40px;
  font-size: 18px;
  margin-top: 20px;
}
.new-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 25px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5;
  text-decoration: none;
  list-style-type: none;
  color: #d29f13;
}
.forgot-password {
  cursor: pointer;
}
.register-here {
  cursor: pointer;
}

.product-card {
  border: 1px solid #3c1053;
  padding: 20px;
  text-align: center;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  margin: 20px;
}

.product-name {
  margin-bottom: 10px;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #3c1053;
  text-decoration: none;
  list-style-type: none;
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-price {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: black !important;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: none;
  list-style-type: none;
}

.product-btn {
  margin-top: 10px;
}

#product-pg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.product-details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.single-product-image {
  flex: 0 0 300px;
  max-width: 100%;
}

.single-product-image img {
  width: 100%;
  height: auto;
}

.product-info {
  flex: 1;
}

.single-product-price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black !important;
}

.product-description {
  margin-bottom: 20px;
  font-size: 30px; /* Adjust the font size as needed */
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
  color: black !important;
  text-decoration: none;
  list-style-type: none;
}

.product-page-btn {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* .single-product-btn {
  margin-bottom: 10px;
  width: 100%;
  text-transform: none;
  font-weight: bold;
  padding: 12px 24px;
} */

.welcome-container {
  display: flex;
  gap: 20px;
}

.categories-heading {
  font-size: 40px;
  font-weight: bold;
  color: black !important;
  text-decoration: none;
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "daggersquare";
  text-align: center;
  line-height: 1.5;
  text-align: center;
  margin-left: 5px;
}

.categories-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;

  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  line-height: 1.5;
}

.categories-list li {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
  color: black !important;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  line-height: 1.5;
  cursor: pointer;
}

.categories-list {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}
.product-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  line-height: 1.5;
}

.products-categories-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  flex-direction: row;
  font-size: 20px;
}

#login-page {
  display: flex;
  flex-direction: column;
  min-width: 800px;
}

#loading-screen {
  background-color: #fdd12328;
  height: 100vh;
}

.admin-container {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
  font-weight: bold;
  color: #3c1053;
  text-decoration: none;
  list-style-type: none;
  width: 80%;
}

.admin-title {
  text-align: center;
}

.admin-section {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  line-height: 1.5;
  font-size: 80px;
  font-weight: bold;
  color: #3c1053;
  text-decoration: none;
  list-style-type: none;
  width: 80%;
}

.admin-section-title {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  color: black !important;
  text-decoration: none;
  list-style-type: none;
}

.admin-button {
  display: block;
  width: 100%;
  max-width: 200px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #3c1053;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.admin-button:hover {
  background-color: #d29f13;
}

.admin-button:active {
  background-color: #d29f13;
}

.new-product-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.new-product-title {
  text-align: center;
  margin-bottom: 20px;
}

.new-product-form {
  display: flex;
  flex-direction: column;
}

.new-product-input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.new-product-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3c1053;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.new-product-button:hover {
  background-color: #d29f13;
}

.new-product-button:active {
  background-color: #d29f13;
}
