/* Site Wide Universal Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Tiger's Den Font*/
@font-face {
  font-family: "daggersquare";
  src: url("../assets/fonts/daggersquare-webfont.woff2") format("woff2"),
    url("../assets/fonts/daggersquare-webfont.woff") format("woff");
  font-weight: normal;
}

#website-colors {
  /* WOfficial LSU Colors from:
  https://itservice.lsu.edu/TDClient/51/OCUR/KB/ArticleDet?ID=430; */

  /* Primary Colors */
  color: #461d7c; /*Offical LSU Purple*/
  color: #fdd023; /*Official LSU Gold*/

  /* Tonal Palette */
  color: #3c1053; /*Corporate Purple*/
  color: #a39aac; /*Light Purple*/
  color: #d29f13; /*Corporate Gold*/
  color: #f1eedb; /*Light Gold*/

  /* Neutral Palette */
  color: #d0d0ce; /*Light Gray*/
  color: #999999; /* 50% Gray*/
  color: #333333; /* Process Black */
  color: #8c734a; /*LSU Metallic Gold*/
}

#root {
  display: flex;
  flex-direction: column;
  /* Making our root div 100vh so that we can use flex to make children (mainly the body) take up all available verticle space */
  height: 100vh;
}

#header-container {
  background-color: #3c1053;
  color: #d0d0ce; /*Light Gray*/
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
#header-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#logo-graphic {
  height: 175px;
  margin-top: 10px;
}
#header-logo {
  color: #d0d0ce;
  font-family: "daggersquare";
  font-size: 70px;
  font-weight: bold;
  display: flex;

  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;

  text-transform: uppercase;
  letter-spacing: 2px;
}
#header-cart {
  color: #d0d0ce;
  font-size: large;
}
#profile-header {
  color: #d0d0ce;
  font-size: large;
}
#nav-container {
  background-color: #d29f13;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 50px;
  /* align-items: center; */
  font-family: "daggersquare";
  font-weight: bold;
  color: #d0d0ce;
  text-decoration: none;
  list-style-type: none;
  display: flex;
}

.non-user-nav {
  color: #d0d0ce;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
}
.user-nav {
  color: #d0d0ce;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
}
.nav-link1 {
  color: #d0d0ce;
  font-size: 70px;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav-link2 {
  color: #d0d0ce;
  font-size: 70px;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#nav-menu {
  color: #3c1053;
}
#menu-button {
  color: #3c1053;
}
#main {
  /* Using flex grow to make main body section take up all available vertical space (but not more than that) */
  flex: 1 0 0;
  background-color: #d0d0ce;
}
#welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: #d0d0ce;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
}
.cards-container {
  display: grid;

  margin: 0 auto;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;

  padding: 20px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  width: 100%;
  height: 100%;
  flex-shrink: inherit;
}

#card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: calc(100% - 50px);
  border: 1px solid #3c1053;
  background-color: #d0d0ce;
  border-radius: 25px;
  padding: 25px;
  cursor: pointer;
  transform: translateZ(0);
  transition: all 0.25s ease-out;
  margin: 10px;

  width: 100%;
  height: 100%;
}
#card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#card:active {
  transform: scale(0.9);
}
#card:focus {
  transform: scale(1.1);
}
.product-name {
  font-size: 40px;
  font-weight: bold;
  color: #3c1053;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}
.product-price {
  font-size: 20px;
  font-weight: bold;
  color: black !important;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #d0d0ce;
}
.product-btn {
  border: none;
  outline: 0;
  padding: 12px;
  color: black;
  background-color: #d29f13;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  border-radius: 25px;
  transition: all 0.25s ease-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.product-btn:hover {
  transform: scale(1.1);
}
.product-btn:active {
  transform: scale(0.9);
}
.product-btn:focus {
  transform: scale(1.1);
}

.product-title {
  font-size: 20px;
  font-weight: bold;
}
.product-page-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.all-single-product-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  border: none;
  outline: 0;
}
.single-product-btn {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #3c1053;
  text-align: center;
  cursor: pointer;
  width: 150px;
  height: 70px;
  font-size: 18px;
}
.single-product-btn:hover {
  transform: scale(1.1);
}
.single-product-btn:active {
  transform: scale(0.9);
}
.single-product-btn:focus {
  transform: scale(1.1);
}
.back-btn {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #3c1053;
  text-align: center;
  cursor: pointer;
  width: 150px;
  height: 70px;
  font-size: 18px;
  margin-top: 20px;
}
.back-btn:hover {
  transform: scale(1.1);
}
.back-btn:active {
  transform: scale(0.9);
}
.back-btn:focus {
  transform: scale(1.1);
}
.review-btn {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #3c1053;
  text-align: center;
  cursor: pointer;
  width: 150px;
  height: 70px;
  font-size: 18px;
  margin-top: 20px;
}
.review-btn:hover {
  transform: scale(1.1);
}
.review-btn:active {
  transform: scale(0.9);
}
.review-btn:focus {
  transform: scale(1.1);
}
img {
  max-width: 100%;
}
#product-pg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #3c1053;
  background-color: white;
  padding: 25px;
}
.single-product-name {
  font-size: 70px;
  font-weight: bold;
}
.product-description {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5;
  text-decoration: none;
  list-style-type: none;
}
.single-product-price {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5;
  text-decoration: none;
  list-style-type: none;
}
