/* Site Wide Universal Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#website-colors {
  /* WOfficial LSU Colors from:
  https://itservice.lsu.edu/TDClient/51/OCUR/KB/ArticleDet?ID=430; */

  /* Primary Colors */
  color: #461d7c; /*Offical LSU Purple*/
  color: #fdd023; /*Official LSU Gold*/

  /* Tonal Palette */
  color: #3c1053; /*Corporate Purple*/
  color: #a39aac; /*Light Purple*/
  color: #d29f13; /*Corporate Gold*/
  color: #f1eedb; /*Light Gold*/

  /* Neutral Palette */
  color: #d0d0ce; /*Light Gray*/
  color: #999999; /* 50% Gray*/
  color: #333333; /* Process Black */
  color: #8c734a; /*LSU Metallic Gold*/
}

#root {
  display: flex;
  flex-direction: column;
  /* Making our root div 100vh so that we can use flex to make children (mainly the body) take up all available verticle space */
  height: 100vh;
}

#header-container {
  background-color: #3c1053;
  color: #d0d0ce; /*Light Gray*/
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
#header-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#header-logo {
  color: #d0d0ce;
  font-size: 40px;
  font-weight: bold;
}
#header-cart {
  color: #d0d0ce;
  font-size: large;
}
#profile-header {
  color: #d0d0ce;
  font-size: large;
}
#nav-container {
  background-color: #d29f13;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-left: 10px; */
  list-style-type: none;
}
#nav-menu {
  color: #3c1053;
}
#menu-button {
  color: #3c1053;
}
#main {
  /* Using flex grow to make main body section take up all available vertical space (but not more than that) */
  flex: 1 0 0;
  background-color: #d0d0ce;
}
#welcome {
  display: flex;
  justify-content: center;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
